html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,
i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,
tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,
figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,
time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,
header,hgroup,menu,nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ol,ul {
    list-style: none;
}

blockquote,q {
    quotes: none;
}

blockquote:before,blockquote:after,q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Melakukan RESET CSS untuk kendali penuh */






/* Configurasi CSS */

#headerNavigation {
    display: flex;
    justify-content: space-between;
    background-color: #edf0f4;
    width: 100%;
    height: 60px;
    align-items: center;
}

#navigation {
    display: flex;
    gap: 10px;
}

#headerTitle{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 90px;
}

#headerTitle #headline{
   font-size: 2em;
}

#subtitle {
    color: gray;
    
}

/* Call Us Section */

#callUs{
    display: flex;
    flex-direction: row;
    gap: 16px;
    /* background-color: bisque; */
}

#article {
flex-basis: 60%;
flex-grow: 0;
}

#form {
flex-basis: 40%;
flex-grow: 0;
background-color: #edf0f4;
border-radius: 2%;
}

#article img {
    max-width: 100%;
    max-height: 100%;
}


.titleSubtitle {
    margin: 8px 8px;
}

#main-content {
    width: 960px;
    background-color: #edf0f4;
    margin: auto;
        /* Membuat margin atas dan bawah 0, dan secara otomatis mengatur margin kiri dan kanan agar elemen berada di posisi tengah */
    padding-top: 50px;
        /* Opsional: Menambahkan padding atas untuk membuat jarak dari atas halaman */
    padding-bottom: 50px;
}